<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">
    <link rel="icon" type="image/gif" href="{% static 'frontend/images/img.ico' %}">
    <title></title>
</head>
<body>
    <h1>Add a new product</h1>
    <script src="{% static 'api/api.js' %}"></script>
</body>
</html>
